table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.form-group
{
  padding: 1px;
}
#identity
{
   padding: 1px;
}
.address
{
  width: 900px;
}
#identity1
{
  padding: 20px;
}